<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <form action="/add" method="post">
            <fieldset>
                <input type="text" name="myCharacter" value="name">
                <input type="text" name="myCharacter" value="level">
                <button>search by name or level</button>
            </fieldset>
        </form>
    </main>
</body>

</html>