<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>

        /****************strech goal its work*********/

        <form action="/add" method="post">
            <fieldset>
                <input type="text" name="name" value="<%=char.level%>">
                <input type="text" name="level" value="<%=char.level%>">
                <img src="<%=char.img%>" alt="image" >
                <button>search by name or level</button>
            </fieldset>
        </form>
    </main>
</body>
</html> -->